<?xml version = "1.0" encoding = "UTF-8" ?>
<!-- $Id$ -->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j = "http://jakarta.apache.org/log4j/">
	<appender name = "ConsoleAppender" class = "com.google.code.synctimestamps.logging.AnsiConsoleAppender">
		<param name = "Threshold" value = "TRACE"/>
		<layout class = "org.apache.log4j.PatternLayout">
			<param name = "ConversionPattern" value = "%-5p %m%n"/>
		</layout>
	</appender>

	<category name = "org.springframework">
		<priority value = "WARN" />
	</category>

	<root>
		<level value = "trace"/>
		<appender-ref ref = "ConsoleAppender"/>
	</root>
</log4j:configuration>
